@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';


#generate-image {
    padding: 3px;
    border: 2px solid black;
    margin: 5px;
}
 